.bookingStep1 {
    z-index: 1;
    display: none;
    position: absolute;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    background-color: #ffff;
    border: 3px solid lightgrey;
    padding: 25px;
    .inputStep1 {
        margin: 40px 0;
        font-size: 25px;
        font-weight: 700;
        input {
            font-size: 25px;
        }
    }
    .submitBtnStep1 {
        float: right;
        margin-top: 170px;
        font-size: 1.2rem;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        padding: 1rem 3rem;
        background-color: $c-red;
        color: #ffff;
    }
}

.bookingStep2 {
    z-index: 1;
    display: none;
    position: absolute;
    border: 3px solid lightgrey;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    padding: 25px;
    background-color: #ffff;
    .nameInput {
        margin: 25px 0;
        font-size: 25px;
        font-weight: 700;
        input {
            font-size: 25px;
        }
    }
    .emailInput {
        margin: 25px 0;
        font-size: 25px;
        font-weight: 700;
        input {
            font-size: 25px;
        }
    }
    .inputTime {
        margin: 25px 0;
        font-size: 25px;
        font-weight: 700;
        input {
            font-size: 25px;
        }
    }
    .inputParticipants {
        margin: 25px 0;
        font-size: 25px;
        font-weight: 700;
        option,
        select {
            font-size: 25px;
        }
    }
    .submitBtnStep2 {
        float: right;
        margin: -73px 0;
        font-size: 1.2rem;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        padding: 1rem 3rem;
        background-color: $c-red;
        color: #ffff;
    }
}

.bookingStep3 {
    z-index: 1;
    display: none;
    position: absolute;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    border: 3px solid lightgrey;
    background-color: #ffff;
    padding: 25px;
    text-align: center;
    h1 {
        margin: 100px 0 40px;
    }
}
//text