.all-challenges-align {
    text-align: center;
    .all-challenges {
        @include redBtn;
        background-color: $c-new;
        padding: 10px;
    }
    .all-challenges:hover {
        background-color: rgb(7, 3, 26);
    }
    margin-bottom:50px;
}

.challenges {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
   
}


.challenges-type {
    display: none;
}

.challenges-lable {
    display: none;
}

.challenges-list {
    display: flex;
    height: 560px;
   
    @include desktop {
        justify-content: center;
    }
}


.challenges-item {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: $border-radius;
    background-color: white;
    box-shadow: 0 0 1rem rgba($c-beige, 10);
    margin: 1rem;
    overflow: hidden;
    max-height: 600px;
    &>*:not(img) {
        margin: 0 1rem;
    }
    
    
    .challenge-title {
        font-size: 25px;
        font-weight: normal;
        margin-top: 1rem;
    }
    .challenge-meta {
        display: flex;
        margin-top: 0.5rem;
        @include desktop {
            justify-content: space-between;
        }
    }
    .participants {
        font-size: 20px;
    }
    .challenge-rating {
        display: flex;
        margin: 0 1rem 0 0;
        li {
            color: red;
            font-size: 20px;
        }
    }
    .challenge-description {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 16px;
    }
    .challenge-cta {
        position: absolute;
        top: 80%;
        @include button($c-red);
        margin: 1rem;
        align-self: flex-end;
        color: white;
    }
    @include desktop {}
    @include desktop {}

    .fa-home:before{
     @include icon;
    }
    .fa-desktop:before{
    @include icon;
    }
}
.challenges-item:hover{
    box-shadow:5px 5px 20px 5px gray;}
.challenges-cta {
    @include challenge-ctas;
    margin: 2rem 0;
}

