#ourChallenges{
  margin-top:80px;
  text-align: center;
  font-size:35px;
}
.filterClass {
  
  align-items: center;
  .first-page{
    text-align:center;
    font-weight: bold;
    color:black;
  }

  .first-page:hover, .first-page:focus, .first-page:active{
    text-decoration: none;
  }
  #filterTitle{
    font-size:20px;
    color:rgb(85, 84, 84);
  }
  #filterBtnCenter{
    @include flexCenter;
  }
  padding-top: 40px;
  .filterBtn {
    @include redBtn;

    &:hover{
     background-color: darken($c-red, 5);
    }
  }
  
  
  
  .first-page{
    display: flex;
    justify-content: center;
    margin-top: -20px;
  }
  .first-page:hover{
    font-size: 20px;
  }
  .filter {
    display: none;
    border:3px solid lightgray;
    padding:30px;
    position:relative;
    margin:20px;
  }
  .threeTypes {
    .byType div{
      margin:5px 0;
    }
    
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    @media screen and (max-width: 650px){
      display:flex;
      flex-direction: column;
      .types{
        margin:21px 0;
      }
    }
    h4{
      margin-bottom:15px;
    }
    .byTags {
      width:400px;
      @media screen and (max-width: 650px){
        width:250px;
      }
      .tags {
        margin:0 8px 8px 0;
        border-radius: 20px;
        border: 2px solid lightgray;
        padding: 5px 8px;
        color: grey;
        font-weight: bold;
        background-color: white;
        cursor: pointer;
        &:hover {
          color:black;
        }
      }
      .tagSelected{
        background-color: $c-grey;
        color:white;
        border: 2px solid  $c-grey;
      }
    }
    .byRating{
      #to{
        padding:10px;
      }
      .star{
        color:$c-purple;
        cursor:pointer;
        &:hover{
          color:palevioletred;
        }
      }
    }
    
    .showSelectedTag{
      display:flex;
      justify-content: center;
    }
  }
  .closeBtn{
    position:absolute;
    right:15px;
    top:10px;
    font-size:35px;
    cursor: pointer;
    color:grey;
  }
  .keyword{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    h4{
      margin-bottom:15px;
    }
    #inputSearch{
      height:40px;
      border:3px solid lightgray;
      border-radius: 4px;
      width:300px;
      text-indent:15px;
      @media screen and (max-width: 650px){
        width:200px;
      }
    }
    #inputSearch::placeholder{
      color: #C8D3DC;
      font-size:1.3em;
      font-weight: bold;
    }
  }
}

.noMatch{
  margin-left:203px;
  width:800px;
  font-size:35px;
  text-align: center;
}
