#ourChallenges{
  margin-top:80px;
  text-align: center;
  font-size:35px;
}
.filterClass {
  #filterBtnCenter{
    @include flexCenter;
  }
  padding-top: 40px;
  .filterBtn {
    @include redBtn;
  }
  .first-page{
    display: flex;
    justify-content: center;
    margin-top: -20px;
  }
  .first-page:hover{
    font-size: 20px;
  }
  .filter {
    display: none;
    border:2px solid lightgray;
    padding:30px;
    position:relative;
    margin:20px;
  }
  .threeTypes {
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    .byTags {
      .tags {
        margin:5px;
        border-radius: 10px;
        border: 2px solid lightgray;
        padding: 5px;
        color: grey;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color:black;
        }
      }
      .tagSelected{
        background-color: darkslateblue;
      }
    }
    .byRating{
      .star{
        color:purple;
        cursor:pointer;
        &:hover{
          color:palevioletred;
        }
      }
    }
    
    .showSelectedTag{
      display:flex;
      justify-content: center;
    }
  }
  .keyword{
    margin-top:50px;
    text-align: center;
    p{
      margin-bottom:30px;
    }
  }
  .closeBtn{
    position:absolute;
    right:15px;
    top:10px;
    font-size:35px;
    cursor: pointer;
    color:grey;
  }
}

