  .sort{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:60px;
    .sortDirection{
      margin:5px;
      i{
        padding:5px;
        cursor: pointer;
      }
    }
  }
  