html{
    max-width:1280px;
    margin:0 auto;
    font-family: 'Roboto';
}

@import 'misc/_values.scss';
@import 'misc/reset';
@import 'misc/mixins';

@import 'sections/header';
@import 'sections/nav';

@import 'sections/challenges';
@import 'sections/footer';
@import 'sections/filter';