html {
  font-family: "Roboto";
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.header {
  background-color: #021928;
  color: white;
  padding: 1rem;
}
.header .logo {
  padding: 0.2rem 0 0 130px;
  width: 100px;
  height: 80px;
  line-height: 1em;
  font-size: 1.6rem;
  background-image: url("./images/logo.png");
  background-size: 120px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 960px) {
  .header .logo {
    width: auto;
    height: auto;
    padding-top: 2.8rem;
    padding-bottom: 0.8rem;
    font-size: 2rem;
  }
}

.main-nav {
  padding-bottom: 20px;
}
.main-nav .main-menu {
  display: none;
}
.main-nav .main-nav-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  transition: transform 0.5s, top 0.5s, right 0.5s;
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: white;
  cursor: pointer;
}
.main-nav .main-nav-toggle::before {
  content: "";
  position: absolute;
  top: 0.7rem;
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: white;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}
.main-nav .main-nav-toggle::after {
  content: "";
  position: absolute;
  top: 1.4rem;
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: white;
  cursor: pointer;
  transition: transform 0.5s, top 0.5s;
}
.main-nav .main-menu {
  z-index: 1;
  background-color: #011827;
}
@media screen and (max-width: 960px) {
  .main-nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    animation: main-nav_open 0.3s;
  }
  .main-nav.open .main-nav-toggle {
    top: 3rem;
    right: 2rem;
    transform: rotate(225deg);
  }
  .main-nav.open .main-nav-toggle::before {
    opacity: 0;
  }
  .main-nav.open .main-nav-toggle::after {
    transform: rotate(90deg);
    top: 0;
  }
  .main-nav.open .main-menu {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: main-menu_open 0.3s;
  }
  .main-nav.open .main-menu a {
    display: block;
    font-size: 1.8em;
    padding: 0.5em 0;
    margin: 0.2em 0;
  }
}
@media screen and (min-width: 960px) {
  .main-nav {
    background-color: #021928;
  }
  .main-nav .main-nav-toggle {
    display: none;
  }
  .main-nav .main-menu {
    display: flex;
    justify-content: space-around;
    padding: 1rem 10rem;
    font-size: 1.2rem;
  }
}
.main-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: bold;
}
.main-nav a:hover {
  color: #8acfe5;
}

@keyframes main-nav_open {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@keyframes main-menu_open {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.all-challenges-align {
  text-align: center;
  margin-bottom: 50px;
}
.all-challenges-align .all-challenges {
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-decoration: none;
  color: #faf9f9;
  font-size: 16px;
  font-weight: bold;
  background-color: #e3170a;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: #021928;
  padding: 10px;
}
.all-challenges-align .all-challenges:hover {
  background-color: #07031a;
}

.challenges {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
}

.challenges-type {
  display: none;
}

.challenges-lable {
  display: none;
}

.challenges-list {
  display: flex;
  height: 560px;
}
@media screen and (min-width: 960px) {
  .challenges-list {
    justify-content: center;
  }
}

.challenges-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 0 0 1rem #b6bdb5;
  margin: 1rem;
  overflow: hidden;
  max-height: 600px;
}
.challenges-item > *:not(img) {
  margin: 0 1rem;
}
.challenges-item .challenge-title {
  font-size: 25px;
  font-weight: normal;
  margin-top: 1rem;
}
.challenges-item .challenge-meta {
  display: flex;
  margin-top: 0.5rem;
}
@media screen and (min-width: 960px) {
  .challenges-item .challenge-meta {
    justify-content: space-between;
  }
}
.challenges-item .participants {
  font-size: 20px;
}
.challenges-item .challenge-rating {
  display: flex;
  margin: 0 1rem 0 0;
}
.challenges-item .challenge-rating li {
  color: red;
  font-size: 20px;
}
.challenges-item .challenge-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}
.challenges-item .challenge-cta {
  position: absolute;
  top: 80%;
  display: block;
  margin: 0.5rem;
  background-color: #e3170a;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.2s;
  margin: 1rem;
  align-self: flex-end;
  color: white;
}
.challenges-item .challenge-cta:hover {
  background-color: #cb1509;
}
.challenges-item .fa-home:before {
  position: relative;
  font-size: 30px;
  bottom: 260px;
  left: 300px;
}
.challenges-item .fa-desktop:before {
  position: relative;
  font-size: 30px;
  bottom: 260px;
  left: 300px;
}

.challenges-item:hover {
  box-shadow: 5px 5px 20px 5px gray;
}

.challenges-cta {
  padding: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 2rem 0;
}
.challenges-cta-onsite {
  display: block;
  margin: 0.5rem;
  background-color: #8acfe5;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.2s;
}
.challenges-cta-onsite:hover {
  background-color: #75c6e0;
}
.challenges-cta-online {
  font-weight: bold;
  color: #36769d;
  padding: 1rem 2rem;
}
@media screen and (min-width: 960px) {
  .challenges-cta {
    flex-direction: row;
    justify-content: center;
    padding: 0px;
  }
  .challenges-cta-online {
    display: block;
    margin: 0.5rem;
    background-color: #e3170a;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  .challenges-cta-online:hover {
    background-color: #cb1509;
  }
}

.footer {
  background-color: #021928;
  color: white;
  padding: 5rem 0;
}
.footer .footer-content {
  display: flex;
  justify-content: center;
}
.footer .footer-content > div {
  margin: 0 0 2rem;
}
.footer h2 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  padding-left: 0px;
  position: relative;
  right: 0px;
}
.footer .follow {
  margin-left: 80px;
}
.footer .site {
  margin-left: 80px;
}
.footer ul {
  margin: 0 0 1rem;
}
.footer a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}
.footer a:hover {
  color: #8acfe5;
}
.footer .site, .footer .follow {
  position: relative;
  right: 80px;
}
@media screen and (min-width: 960px) {
  .footer {
    margin-top: 10rem;
  }
  .footer .footer-content {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 0;
    grid-template-columns: repeat(12, 1fr);
  }
  .footer .footer-content .footer-summary {
    grid-column: 1/6;
  }
  .footer .footer-content .footer-sitemap {
    grid-column: 8/10;
  }
  .footer .footer-content .footer-social {
    grid-column: 10/12;
  }
}

#ourChallenges {
  margin-top: 80px;
  text-align: center;
  font-size: 35px;
}

.filterClass {
  align-items: center;
  padding-top: 40px;
}
.filterClass .first-page {
  text-align: center;
  font-weight: bold;
  color: black;
}
.filterClass .first-page:hover, .filterClass .first-page:focus, .filterClass .first-page:active {
  text-decoration: none;
}
.filterClass #filterTitle {
  font-size: 20px;
  color: #555454;
}
.filterClass #filterBtnCenter {
  display: flex;
  justify-content: center;
}
.filterClass .filterBtn {
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  text-decoration: none;
  color: #faf9f9;
  font-size: 16px;
  font-weight: bold;
  background-color: #e3170a;
  border-radius: 5px;
  margin-bottom: 50px;
}
.filterClass .filterBtn:hover {
  background-color: #cb1509;
}
.filterClass .first-page {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.filterClass .first-page:hover {
  font-size: 20px;
}
.filterClass .filter {
  display: none;
  border: 3px solid lightgray;
  padding: 30px;
  position: relative;
  margin: 20px;
}
.filterClass .threeTypes {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.filterClass .threeTypes .byType div {
  margin: 5px 0;
}
@media screen and (max-width: 650px) {
  .filterClass .threeTypes {
    display: flex;
    flex-direction: column;
  }
  .filterClass .threeTypes .types {
    margin: 21px 0;
  }
}
.filterClass .threeTypes h4 {
  margin-bottom: 15px;
}
.filterClass .threeTypes .byTags {
  width: 400px;
}
@media screen and (max-width: 650px) {
  .filterClass .threeTypes .byTags {
    width: 250px;
  }
}
.filterClass .threeTypes .byTags .tags {
  margin: 0 8px 8px 0;
  border-radius: 20px;
  border: 2px solid lightgray;
  padding: 5px 8px;
  color: grey;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
.filterClass .threeTypes .byTags .tags:hover {
  color: black;
}
.filterClass .threeTypes .byTags .tagSelected {
  background-color: #788896;
  color: white;
  border: 2px solid #788896;
}
.filterClass .threeTypes .byRating #to {
  padding: 10px;
}
.filterClass .threeTypes .byRating .star {
  color: #6558F5;
  cursor: pointer;
}
.filterClass .threeTypes .byRating .star:hover {
  color: palevioletred;
}
.filterClass .threeTypes .showSelectedTag {
  display: flex;
  justify-content: center;
}
.filterClass .closeBtn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 35px;
  cursor: pointer;
  color: grey;
}
.filterClass .keyword {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filterClass .keyword h4 {
  margin-bottom: 15px;
}
.filterClass .keyword #inputSearch {
  height: 40px;
  border: 3px solid lightgray;
  border-radius: 4px;
  width: 300px;
  text-indent: 15px;
}
@media screen and (max-width: 650px) {
  .filterClass .keyword #inputSearch {
    width: 200px;
  }
}
.filterClass .keyword #inputSearch::placeholder {
  color: #C8D3DC;
  font-size: 1.3em;
  font-weight: bold;
}

.noMatch {
  margin-left: 203px;
  width: 800px;
  font-size: 35px;
  text-align: center;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.sort .sortDirection {
  margin: 5px;
}
.sort .sortDirection i {
  padding: 5px;
  cursor: pointer;
}

.bookingStep1 {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #ffff;
  border: 3px solid lightgrey;
  padding: 25px;
  width: 800px;
  height: 480px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.bookingStep1 .bookingStep1Content {
  height: 420px;
}
.bookingStep1 .bookingStep1Content a {
  text-decoration: none;
}
.bookingStep1 .bookingStep1Content p {
  margin: 25px 0;
}
.bookingStep1 .bookingStep1Content .inputStep1 {
  margin: 40px 0;
  font-size: 25px;
  font-weight: 700;
}
.bookingStep1 .bookingStep1Content .inputStep1 input {
  font-size: 25px;
}
.bookingStep1 .submitStep1-container {
  display: flex;
  justify-content: flex-end;
}
.bookingStep1 .submitStep1-container .submitBtnStep1 {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 1rem 3rem;
  color: #ffff;
  background-color: #e3170a;
}

.bookingStep2 {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #ffff;
  border: 3px solid lightgrey;
  padding: 25px;
  width: 800px;
  height: 480px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.bookingStep2 .bookingStep2Content {
  height: 420px;
}
.bookingStep2 .bookingStep2Content .roomTitleStep2 {
  margin-bottom: 25px;
}
.bookingStep2 .bookingStep2Content .nameInput {
  font-size: 25px;
}
.bookingStep2 .bookingStep2Content .nameInput label {
  font-weight: 700;
}
.bookingStep2 .bookingStep2Content #selectTimes {
  font-size: 25px;
  border-radius: 4px;
}
.bookingStep2 .bookingStep2Content .phoneInput {
  margin: 25px 0;
  font-size: 25px;
  font-weight: 700;
}
.bookingStep2 .bookingStep2Content .phoneInput input {
  font-size: 25px;
}
.bookingStep2 .bookingStep2Content .emailInput {
  margin: 25px 0;
  font-size: 25px;
  font-weight: 700;
}
.bookingStep2 .bookingStep2Content .emailInput input {
  font-size: 25px;
}
.bookingStep2 .bookingStep2Content .inputTime {
  margin: 25px 0;
  font-size: 25px;
  font-weight: 700;
}
.bookingStep2 .bookingStep2Content .inputTime input {
  font-size: 25px;
}
.bookingStep2 .bookingStep2Content #selectTimes {
  font-size: 25px;
  border-radius: 4px;
}
.bookingStep2 .bookingStep2Content .inputParticipants {
  margin: 25px 0;
  font-size: 25px;
  font-weight: 700;
}
.bookingStep2 .bookingStep2Content .inputParticipants option,
.bookingStep2 .bookingStep2Content .inputParticipants select {
  font-size: 25px;
}
.bookingStep2 .submitStep2-container {
  display: flex;
  justify-content: flex-end;
}
.bookingStep2 .submitStep2-container .submitBtnStep2 {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 1rem 3rem;
  color: #ffff;
  background-color: #e3170a;
}

.bookingStep3 {
  z-index: 1;
  display: none;
  position: absolute;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
  border: 3px solid lightgrey;
  background-color: #ffff;
  padding: 25px;
  text-align: center;
}
.bookingStep3 h1 {
  margin: 100px 0 40px;
}

.hero-image {
  background-image: url("./images/hero.png");
  background-size: cover;
  height: 40vh;
}
@media screen and (min-width: 960px) {
  .hero-image {
    height: 35vw;
  }
}

.hero-cta {
  padding: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.hero-cta-onsite {
  display: block;
  margin: 0.5rem;
  background-color: #8acfe5;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.2s;
}
.hero-cta-onsite:hover {
  background-color: #75c6e0;
}
.hero-cta-online {
  font-weight: bold;
  color: #36769d;
  padding: 1rem 2rem;
}
@media screen and (min-width: 960px) {
  .hero-cta {
    flex-direction: row;
    justify-content: center;
    padding: 0px;
  }
  .hero-cta-online {
    display: block;
    margin: 0.5rem;
    background-color: #e3170a;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  .hero-cta-online:hover {
    background-color: #cb1509;
  }
}
@media screen and (min-width: 960px) {
  .hero-cta a {
    position: relative;
    top: -2.5rem;
  }
}

.testimonials {
  padding: 1rem;
  margin: 2rem 0 4rem;
}

.testimonials-list {
  max-width: 1064px;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .testimonials-list {
    display: flex;
  }
}

.testimonials-item {
  display: none;
  grid-template-columns: 96px 1fr;
  gap: 0.5rem;
  margin-right: 2rem;
}
.testimonials-item:first-child {
  display: grid;
}
.testimonials-item img {
  border-radius: 50%;
}
.testimonials-item blockquote {
  font-style: italic;
  font-size: 1.5rem;
}
.testimonials-item cite {
  grid-column: 2/3;
  font-style: normal;
}
@media screen and (min-width: 960px) {
  .testimonials-item {
    display: grid;
  }
}

.story {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #021928;
  color: white;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 5rem;
}

.story-intro {
  margin: 5rem auto 4rem;
}
@media screen and (min-width: 960px) {
  .story-intro {
    max-width: 40rem;
  }
}

.story-cta {
  display: block;
  margin: 0.5rem;
  background-color: #021928;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.2s;
  align-self: center;
  border: 2px solid #8acfe5;
  color: #8acfe5;
}
.story-cta:hover {
  background-color: #010a10;
}

.usp-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.usp-item h2 {
  margin: 1rem;
  font-size: 1.8rem;
}
.usp-item p {
  margin: 1rem;
  font-size: 1.2rem;
}
.usp-item .usp-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}
.usp-item .usp-cta a {
  display: block;
  margin: 0.5rem;
  background-color: #e3170a;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.2s;
  align-self: flex-start;
  margin: 0;
}
.usp-item .usp-cta a:hover {
  background-color: #cb1509;
}
@media screen and (min-width: 960px) {
  .usp-item {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: [img-start] 1fr 1fr 1fr 1fr 1fr 1fr [img-end] 1fr [content-start] 1fr 1fr 1fr 1fr [content-end] 1fr;
    grid-template-rows: 3rem auto auto auto 3rem;
  }
  .usp-item img {
    grid-column: img-start/img-end;
    grid-row: 1/6;
    height: 100%;
    object-fit: cover;
  }
  .usp-item h2 {
    margin: 1rem 0;
    grid-column: content-start/content-end;
    grid-row: 2/3;
  }
  .usp-item p {
    margin: 1rem 0;
    grid-column: content-start/content-end;
    grid-row: 3/4;
  }
  .usp-item .usp-cta {
    margin: 1rem 0;
    grid-column: content-start/content-end;
    grid-row: 4/5;
  }
  .usp-item:nth-child(even) {
    grid-template-columns: 1fr [content-start] 1fr 1fr 1fr 1fr [content-end] 1fr [img-start] 1fr 1fr 1fr 1fr 1fr 1fr [img-end];
  }
}

.aboutEsc {
  display: flex;
  justify-content: center;
}

.aboutEsc h1 {
  font-family: "Roboto";
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.textHero1,
.textHero2 {
  display: flex;
  justify-content: center;
}

.textHero1 img,
.textHero2 img {
  width: 50%;
  border-radius: 5%;
}

.textAboutUs1 {
  padding-bottom: 150px;
}

.textAboutUs1,
.textAboutUs2 {
  display: flex;
  justify-content: center;
}

.textAboutUs1 h2,
.textAboutUs2 h2 {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
  padding-top: 10px;
  height: 100px;
  width: 1000px;
}

.esc {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 40px;
}

.contactUsContent {
  font-size: 18px;
  width: 50%;
  background-color: #788896;
  display: block;
  justify-self: center;
  border-style: solid;
  position: relative;
  left: 25%;
}
.contactUsContent p {
  padding: 40px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 30px;
}

.icons-content {
  display: flex;
  padding: 0px 700px;
  justify-content: space-between;
  font-size: 40px;
  margin-top: 50px;
}

/*# sourceMappingURL=main.css.map */
